.App {
  text-align: center;
}
.nav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border: solid 1px rgb(212, 211, 212);
  background-color: rgb(151, 18, 151, 0.1);
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category_list {
  padding-top: 50px;
}

.home {
  border: solid 1px rgb(134, 178, 228);
  background-color: rgba(145, 168, 202, 0.25);
  margin-left: 25%;
}

.logout {
  margin-top: 100px;
}

.login-form {
  margin-top: 100px;
}

.login-label {
  padding-right: 10px;
  font-size: 20px;
}

.login-input {
  background-color: rgb(135, 193, 211);
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.login-text {
  padding-top: 250px;
  font-size: 25px;
  margin: 0px;
}

.login-page {
  background-color: rgb(153, 218, 238);
  height: 100vh;
}

.review {
  margin-left: 25%;
}

.comments-list {
  text-align: center;
  padding-top: 10px;
  list-style: none;
}

#comment-header {
  border-top: solid rgba(0, 0, 0, 0.274) 4px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.reviews-list {
  list-style: none;
}
